@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

#header1-0 H1 {
  color: #fff8e0;
}
#image1-7 DIV {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
}
#header2-4 {
  
}
#header2-4 H1 {
  text-align: left;
}
#header2-4 P {
  text-align: left;
  font-size: 32px;
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-8 .lead P {
  font-size: 32px;
}
